/* ======================================================
   RESET
====================================================== */

* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}



/* ======================================================
   VARIABLES
====================================================== */

:root {

    --primary-color:
        #0f172a;

    --secondary-color:
        #1e293b;

    --gold-color:
        #d4af37;

    --white-color:
        #ffffff;

    --gray-color:
        #cbd5e1;

    --dark-overlay:
        rgba(0, 0, 0, 0.55);

    --glass-background:
        rgba(255, 255, 255, 0.08);

    --glass-border:
        rgba(255, 255, 255, 0.12);

    --transition:
        0.3s ease;

}



/* ======================================================
   HTML
====================================================== */

html {

    scroll-behavior: smooth;

}



/* ======================================================
   BODY
====================================================== */

body {

    font-family:
        Arial,
        Helvetica,
        sans-serif;

    background-color:
        #0b1120;

    color:
        var(--white-color);

}



/* ======================================================
   IMAGES
====================================================== */

img {

    width: 100%;

    display: block;

}



/* ======================================================
   BUTTONS
====================================================== */

button {

    border: none;

    cursor: pointer;

    transition:
        var(--transition);

}



/* ======================================================
   INPUTS
====================================================== */

input {

    outline: none;

    border: none;

}



/* ======================================================
   LINKS
====================================================== */

a {

    text-decoration: none;

    color: inherit;

}



/* ======================================================
   TITLES
====================================================== */

h1,
h2,
h3 {

    font-weight: bold;

}



/* ======================================================
   PARAGRAPHS
====================================================== */

p {

    line-height: 1.5;

}